body:after {
    content: ' ';
    position: fixed;
    bottom: 0em;
    left: 0em;
    width: 6em;
    height: 11em;
    background: url(../images/bigM.png);
    background-size: 6em;
    background-repeat: no-repeat;
    background-position: 3% 96%;
}

.line-through {
    text-decoration: line-through
}

.reveal section img {
    background: none;
    border: none;
    box-shadow: none;
}

.cross {
    position: relative;
    padding: 20px;
    overflow: hidden;
}

.cross:before,
.cross:after {
    position: absolute;
    content: '';
    background: red;
    display: block;
    width: 10%;
    height: 20px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.cross:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nocross {
    position: relative;
    padding: 20px;
    overflow: hidden;
}

.nocross:before,
.nocross:after {
    position: absolute;
    content: '';
    background: transparent;
    display: block;
    width: 10%;
    height: 20px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.nocross:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.hideCode {
    opacity: 0;
}

.hidden {
    opacity: 0;
}

.language-kotlin2:before {
    content: url(../images/kotlin.png);
    position: relative;
    left: -3px;
    top: 10px;
}

.small p,
.small li,
p.small,
div.small,
span.small,
.small code,
.TABLE.small,
.small TH {
    font-size: 94% !important;
}

.x-small p,
.x-small li,
p.x-small,
div.x-small,
span.x-small,
.x-small code,
TABLE.x-small,
.x-small TH {
    font-size: 86% !important;
}


.large p,
.large li,
p.large,
div.large,
span.large,
.large code,
.TABLE.large,
.large TH {
    font-size: 200% !important;
}

.x-large p,
.x-large li,
p.x-large,
div.x-large,
span.x-large,
.x-large code,
TABLE.x-large,
.x-large TH {
    font-size: 150% !important;
}

.hljs-ln-numbers {
    display: none;
}
